@model PostOfficeApp.Models.Newspaper

@{
    ViewData["Title"] = "创建新刊物";
}
<div class="container">
    <form asp-action="Create" class="ui form" accept-charset="UTF-8">
        <div class="form-horizontal">
            <h4>报纸信息</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
                <label asp-for="Pno_number">发刊编号</label>
                <input asp-for="Pno_number" />
                <span asp-validation-for="Pno_number" class="text-danger"></span>
                @if (ViewData.Keys.Contains("error"))
                {
                    <div class="item" style="color:orangered">@ViewData["error"]</div>
                }
            </div>
            <div class="field">
                <label asp-for="Pna" class="col-md-2 control-label">刊物名称</label>
                <input asp-for="Pna" class="form-control" />
                <span asp-validation-for="Pna" class="text-danger" />
            </div>
            <div class="field">
                <label asp-for="Ppr" class="col-md-2 control-label">价格：</label>
                <div class="col-md-10">
                    <input asp-for="Ppr" class="form-control" />
                    <span asp-validation-for="Ppr" class="text-danger" />
                </div>
            </div>
            <div class="field">
                <label asp-for="Labels" class="col-md-2 control-label">标签：</label>
                <div class="col-md-10">
                    <input asp-for="Labels" class="form-control" />
                    <span asp-validation-for="Labels" class="text-danger" />
                </div>
            </div>
            <div class="field">
                <label asp-for="Ptype" class="col-md-2 control-label">种类：</label>
                <div class="col-md-10">
                    <input asp-for="Ptype" class="form-control" />
                    <span asp-validation-for="Ptype" class="text-danger" />
                </div>
            </div>
            <div class="field">
                <label asp-for="Pdw" class="col-md-2 control-label">出版社：</label>
                <div class="col-md-10">
                    <input asp-for="Pdw" class="form-control" />
                    <span asp-validation-for="Pdw" class="text-danger" />
                </div>
            </div>
            <div class="field">
                <label asp-for="Img_url" class="col-md-2 control-label">图片地址：</label>
                <div class="col-md-10">
                    <input asp-for="Img_url" class="form-control" />
                    <span asp-validation-for="Img_url" class="text-danger" />
                </div>
            </div>
            <div class="field">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="保存" class="ui primary button" />
                </div>
            </div>
        </div>
    </form>
    <div style="padding-top:1em;">
        <a id="back" asp-action="Index" style="cursor:pointer;">返回首页</a>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic.min.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $('.ui.red.button').click(function () {
        $('.ui.basic.modal')
            .modal('show');
    });
</script>
