@model IEnumerable<PostOffice.Models.Movie>
@using PostOfficeApp.Controllers
@{
    ViewData["Title"] = "Home Page";
    var contentCon = new List<string> { "报纸","商业/财经/营销", "教育/育儿/外语", "建筑/地理/园林" ,"时尚/娱乐/服饰",
                                        "文体/艺术/广告", "旅游/摄影/数码", "时政/军事/资讯", "汽车/生活/百科",
                                        "医学/美食/酒店", "电影/动漫/影视", "科技/会展/互联网"};
}
<div class="ui large borderless fixed menu" id="top-nav" style="max-height:80px">
    <a class="item" asp-area="" asp-controller="Home" asp-action="Index">主页</a>
    <div class="ui dropdown item">
        <span class="item">订阅报刊<i class="dropdown icon"></i></span>
        <div class="menu">
            <div class="header">种类</div>
            @Html.ActionLink("报纸", "Items", "Home", new { k = KIND.NEWSPAPER }, new { @class = "item" })
            @Html.ActionLink("杂志", "Items", "Home", new { k = KIND.MAGZINE }, new { @class = "item" })
            @Html.ActionLink("所有", "Items", "Home", new { k = KIND.ALL }, new { @class = "item" })
        </div>
    </div>
    <a class="item" asp-area="" asp-controller="Home" asp-action="About">关于</a>
    <a class="item" asp-area="" asp-controller="Home" asp-action="Contact">联系我们</a>
    <div class="right menu">
        <div class="ui fluid search item">
            <div class="ui icon input">
                <input class="prompt" placeholder="可按邮发代号、报纸名称搜索" name="search" type="text" />
                <i class="icon search"></i>
            </div>
        </div>
        <div class="item">@await Html.PartialAsync("_LoginPartial")</div>
    </div>
</div>
<h3 id="main-title">报刊杂志推荐</h3>

<div class="ui grid" id="content-box">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            @foreach(var content in contentCon)
            {
                <a class="item">@content</a>
            }
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment">你猜</div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic.min.js"></script>
<script src="~/lib/angular.js"></script>
<script src="~/js/topnav.js"></script>
<script>
    $('#content-box .tabular.menu .item:first').addClass('active').addClass('teal');
    $('#content-box .tabular.menu .item').click(function () {
        let old = $('#content-box .tabular.menu .active.teal.item');
        if (!$(this).is(old)) {
            old.removeClass('active').removeClass('teal');
            $(this).addClass('active').addClass('teal');
        }
    });
</script>
<link type="text/css" rel="stylesheet" href="~/css/index.css" />
