@model OrdersViewModel
@{
    ViewData["Title"] = "订购";
    var item = Model.Item1;
}
<div class="ui clearning segment">
    <div id="backtag">
        <a><i class="ui arrow left icon"></i></a>
        <span class="ui left header">返回</span>
    </div>
</div>
<div class="container" ng-app="myApp" ng-controller="myController">
    <div class="ui piled segment">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="@item.Img_url">
                </div>
                <div class="content">
                    <div class="header">@item.Pna</div>
                    <div class="meta">
                        <span class="publisher">@item.Pdw</span>
                    </div>
                    <div>
                        全年定价：<span id="price">@item.Ppr</span> 元
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic segment">
        <h2>下订单</h2>
        <form method="post" asp-action="Create" class="ui form">
            <h4 class="ui dividing header">订购详情</h4>
            <div class="field">
                <label asp-for="Item2.Ofen">订购数量：</label>
                <input ng-model="fen" ng-change="changeTotal()" type="number" asp-for="Item2.Ofen" min="1" max="999" />
                <span asp-validation-for="Item2.Ofen" class="text-danger"></span>
            </div>
            <h4 class="ui dividing header">寄送信息</h4>
            <div class="field">
                <label asp-for="Item2.Gna">收件人:</label>
                <input asp-for="Item2.Gna" required />
                <span asp-validation-for="Item2.Gna" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Item2.Gte">联系电话：</label>
                <input asp-for="Item2.Gte" required />
                <span asp-validation-for="Item2.Gte" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Item2.Gpo">邮政编码：</label>
                <input asp-for="Item2.Gpo" required />
                <span asp-validation-for="Item2.Gpo" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="Item2.Oaddress">寄送地址：</label>
                <input asp-for="Item2.Oaddress" required />
                <span asp-validation-for="Item2.Oaddress" class="text-danger"></span>
            </div>
            <div>
                <button class="ui button" type="submit">提交订单</button>
                <span id="total-price" style="padding:2rem">
                    共需支付 {{total}} 元
                </span>
            </div>

        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/semantic.min.js"></script>
<script src="~/lib/angular.js"></script>
<script>
    $('#backtag').click(function () { history.back(); });
    var app = angular.module("myApp", []);
    app.controller("myController", function ($scope) {
        let price = $('#price').text();
        $scope.total = $('#price').text();
        $scope.changeTotal = function () {
            $scope.total = $scope.fen * price;
        }
    })
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

